<div class="card-panel teal lighten-2 center-align">
        <h4 class="center-align grey-text text-lighten-5">Your Saved Articles</h4>
    </div>
<div id="accordion" aria-multiselectable="true">
{{#each articles}}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header" id="heading-{{ this._id }}">
                <h4 class="panel-title text-center">
                    <a href="https://www.aljazeera.com/{{ this.link }}" target="_blank"><small>{{ this.title }}</small></a>
                </h4>
                <h5><small>{{this.snippet}}</small></h5>
                <button class="secondary-content waves-effect waves-light btn-large tooltipped" data-position="bottom" data-tooltip="View your comment" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ this._id }}" aria-expanded="true" aria-controls="collapse-{{ this._id }}">
                    <i class="material-icons">visibility</i>
                </button>
            </div>
            <div id="collapse-{{ this._id }}" class="collapsible-body" aria-labelledby="heading-{{ this._id }}">
            <h4>Your Comments</h4>
                <ul>
                {{#each this.note as | noti key|}}

                    {{#if noti.text}}
                    <li>
                        <div class="row">
                            <p>
                             &emsp;{{ noti.text }}
                                <button type="submit" form="hidden-form-{{ noti._id }}" class="btn red secondary-content"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Delete this comment!">delete</i></button>
                            </p>
                            <hr>
                            <form method="POST" action="/deleteNote" id="hidden-form-{{ noti._id }}" class="">
                                <input type="hidden" name="id" value="{{ noti._id }}"></input>
                            </form>
                        </div>
                    </li>
                    {{/if}}
                    {{else}}
                    <h5 class="h3"><small>You have not added any comments yet. Please click <strong> Add a comment button</strong> to comment on this news.</small></h5>
                {{/each}}
                </ul>
                        <!-- Modal Trigger -->
                    <button data-target="note-modal-{{ this._id }}" class="btn btn-block waves-effect modal-trigger">Add a Comment</button>
                    <!-- Modal Structure -->
                    <div id="note-modal-{{ this._id }}" class="modal">
                        <div class="modal-content">
                            <h4>Add Comment</h4>
                            <p>Your notes here: </p>
                                <form action="/submit" class="form" method="POST">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="7" name="text"></textarea>
                                        <input type="hidden" name="article_id" value="{{ this._id }}"></input>
                                        <hr>
                                        <button type="submit" class="btn">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <hr>

            </div>
        </li>
    </ul>
     {{else}}
        <div class="card-panel teal lighten-2 center-align">
            <h5 class="grey-text text-lighten-5">You have not saved any articles yet.</h5>
            <button class="waves-effect waves-light pulse btn-large" id="scrape-btn">Scrape news and save</button>
        </div>
        <div class="">
    <img class="materialboxed" width="100%" src="/assets/img/newspaper-background.jpg" alt="news paper bg">
</div>
{{/each}}
</div>
