
<div>
    {{#each articles}}
        <ul class="collection">
            <li class="collection-item avatar">
            <img src="{{this.imageUrl}}" alt="image" class="circle">
                <h4 class="">
                    <a href="https://www.bbc.com/{{ this.link }}" target="_blank">{{ this.title }}</a>
                </h4>
                <p>{{this.snippet}}</p>
                <button type="submit" form="hidden-form{{ this.id }}" class="secondary-content">
                        Save Article
                </button>
                <form action="/articles/{{ this.id }}" method="POST" id="hidden-form{{ this.id }}" class="">
                <input type="hidden" name="title" value="{{ this.title }}"></input>
                <input type="hidden" name="link" value="{{ this.link }}"></input>
            </form>
            </li>

        </ul>
    {{/each}}
</div>
