{{message}}
{{> button}}
<div>
    {{#each articles}}
        <ul class="collection">
            <li class="collection-item avatar">
            <img src="https://www.aljazeera.com/{{this.imageUrl}}" alt="image" class="circle">
                <h4 class="">
                    <a href="https://www.aljazeera.com/{{ this.link }}" target="_blank"><small>{{ this.title }}</small></a>
                </h4>
                <h5><small>{{this.snippet}}</small></h5>
                <button type="submit" form="hidden-form-{{ this.id }}" class="secondary-content waves-effect waves-light btn-large tooltipped" data-position="bottom" data-tooltip="Save this news!">
                        <i class="material-icons">save</i>
                </button>
                <form action="/articles" method="POST" id="hidden-form-{{ this.id }}" class="">
                <input type="hidden" name="title" value="{{ this.title }}"></input>
                <input type="hidden" name="link" value="{{ this.link }}"></input>
                <input type="hidden" name="snippet" value="{{ this.snippet }}"></input>
                <input type="hidden" name="imageUrl" value="{{ this.imageUrl }}"></input>
            </form>
            </li>
        </ul>
    {{/each}}
</div>
